body {
  background-color: #282c34;
}

.pokemon-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.pokemon-item-container {
  background-color: white;
  border-radius: 25px;
  padding: 25px;
}

.pokemon-item-header {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}

.pokemon-name {
  font-size: 18px;
  font-weight: 600;
}

.pokemon-id {
  color: grey;
  font-size: 18px;
  font-weight: 600;
}

.pokemon-card {
  display: flex;
  gap: 10px;
}

.pokemon-image {
  border-radius: 10px;
  background-color: #fbfbfb;
  box-shadow: 0 0 0 1px inset #dddddd;
}

.pokemon-item-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title-container {
  margin-bottom: 10px;
}

.title {
  font-size: 18px;

}

/* BADGE STYLES  */
.badge-type {
  height: 30px;
  width: 100px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 4px 0px rgb(105 105 105 / 45%);
}

.badge-type.water {
  background-color: cornflowerblue;
  color: white;
}

.badge-type.grass {
  background-color: yellowgreen;
  color: white;
}

.badge-type.electric {
  background-color: gold;
  color: white;
}

.badge-type.fire {
  background-color: #ff6a00;
  color: white;
}


.text-type {
  text-transform: capitalize;
  font-weight: bold;
}

/* END BADGE STYLES */

.type-list {
  display: flex;
  gap: 10px;
}
